<div class="grid">
  <div class="col-3">
    <div>
      <h3 class="p-component">Brands</h3>
      <p-listbox
        [options]="brands"
        [(ngModel)]="selectedBrandId"
        (onChange)="onBrandSelected()"
        optionLabel="name"
        optionValue="id"
      ></p-listbox>
    </div>
    <div>
      <h3 class="p-component">Types</h3>
      <p-listbox
        [options]="brands"
        [(ngModel)]="selectedTypeId"
        (onChange)="onTypeSelected()"
        optionLabel="name"
        optionValue="id"
      ></p-listbox>
    </div>
  </div>
  <div class="col-9">
    <div class="flex justify-content-between align-items-center">
      <header>
        <span>Showing <strong>10</strong> of <strong>16</strong> Results</span>
      </header>
      <div>Search form</div>
    </div>
    <div class="flex flex-row flex-wrap justify-content-around">
      <app-product-item
        *ngFor="let item of products"
        [product]="item"
      ></app-product-item>
    </div>
  </div>
</div>
